.contact{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #199133;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contactform {
    background-color: #fff;
    color: #333;
    padding: 25px 25px 30px;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right:auto;
    margin-top: 3%;
    max-height: 80vh;
    overflow-y: auto;
    border-radius: 8px;
    box-shadow: 0px 5px 7px rgb(27, 27, 27);
}

form h2 {
    font-size: 30px;
    text-align: center;
    
}

form .input-box {
    margin-top: 20px;
    
}

.input-box .field{
    width: 90%;
    height: 50px;
    background: #d7f0dd;
    border: 2px solid #333;
    outline: none;
    border-radius: 6px;
    padding: 15px;
    font-size: 16px;
    color: #333;
    margin-top: 8px;
}

.input-box .field.mess{
    height: 200px;
    resize: none;
}

form button{
    background: #199133;
    width: 7rem;
    padding: .25rem;
    border:2px solid #0c0b0b;
    color:#fff
}